@model TheDynamicKarateCupV2.Models.Competitor

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Competitor</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CompetitorID" />
        <input type="hidden" asp-for="ClubID" />
        <div class="form-group">
            <label asp-for="CompetitorFirstname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompetitorFirstname" class="form-control" />
                <span asp-validation-for="CompetitorFirstname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompetitorName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompetitorName" class="form-control" />
                <span asp-validation-for="CompetitorName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AgeCategory" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AgeCategory" class="form-control" />
                <span asp-validation-for="AgeCategory" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Level" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LicenseNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LicenseNumber" class="form-control" />
                <span asp-validation-for="LicenseNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sex" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-id="@Model.ClubID">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
