@{
    ViewData["Title"] = "Contact";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading"><h2>@ViewData["Title"].</h2></div>
    <div class="panel-body">
        <address>
            Wedstrijdsecretariaat THE DYNAMIC KARATE CUP<br />
            P/A De Brucker Gino<br />
            Achterweg 17<br />
            9300 AALST<br />
        </address>

        <address>
            <strong>Email secretariaat:</strong> <a href="mailto:info@thedynamickaratecup.info">info@thedynamickaratecup.info</a><br />
            <strong>GSM secretariaat:</strong> <em>0495/133304</em>
        </address>
    </div>
</div>