@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>You don't have the rights to acces this part of the site!</h2>
Please logon with an account that has the correct rights!