@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="col-md-12">
        <h1>The Dynamic Karate Cup</h1>
        <br/>
        <a asp-controller="Verify" asp-action="CheckRegistration" class="btn btn-primary btn-lg">Subscribe</a>
        <br/>
        <br />
    </div>
</div>