@model TheDynamicKarateCupV2.Models.Club

@{
    ViewData["Title"] = "Edit";
}

<h2>Club @Model.ClubNumber</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClubID" />
        <div class="form-group">
            <label asp-for="ClubName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClubName" class="form-control" />
                <span asp-validation-for="ClubName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResponsibleCellullar" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResponsibleCellullar" class="form-control" />
                <span asp-validation-for="ResponsibleCellullar" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResponsibleEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResponsibleEmail" class="form-control" />
                <span asp-validation-for="ResponsibleEmail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResponsibleName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ResponsibleName" class="form-control" />
                <span asp-validation-for="ResponsibleName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" asp-for="ClubNumber" />
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
