@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Wij danken u voor uw inschrijvingen! </h2>
<h2>Nous vous remerçions pour vos inscriptions! </h2>
